*{
	position: relative;
	transition: 0.3s;
}
body{
	background: radial-gradient(#224499, #221188, #224499);
}
label{
	color: #FF9900;
}
div.jar_main{
	margin: 0px auto;
	padding: 4px;
}
fieldset{
	border-radius: 12px;
	margin: 2px 0px;
}
legend{
	font-size: 1.2em;
	color: #EEDDFF;
	margin-left: 1em;
}
div>label{
	vertical-align: top;
	line-height: 1.7em;
}
input, textarea{
	background: rgba(255, 255, 255, 0.75);
}

textarea{min-height: 4em;}

input[type=file]{display: none;}

input, textarea, div, .grouped{
	border-radius: 5px;
}

button{
	border-radius: 16px;
}

.divider{
	clear: both;
	min-height: 1em;
	margin-bottom: 4px;
	border-radius: 0px;
	box-shadow: 0px 4px 6px -3px rgba(255, 255, 255, 0.1);
}
.grouped{
	margin: 1px 1px;
	padding: 0px 4px 1px;
	display: inline-block;
}
div.grouped{float: left;}

.alert{
	box-shadow: 0px 0px 8px 2px red;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-weight: bold;
	padding: auto 8px;
}

:focus,
input:checked	{box-shadow: 0px 0px 8px  1px rgba(0, 180, 180, 1);}
.selected	{box-shadow: 0px 0px 18px 4px rgba(0, 180, 180, 1);}

.left-right	{background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(115, 115, 115, 0.2));}

.exam_section{
	display: block;
	min-height: 5em;
	border-radius: 20px;
	padding: 8px;
}
.exam_section.selected{
	border-style: double;
	border-width: 3px;
	border-color: rgba(0, 127, 127, 0.8);
	margin-top: 8px;
	margin-bottom: 12px;
}
.exam_section>div{
	text-align: right;
}
.exam_section label{
	width: 20%;
}
.exam_section input, .exam_section textarea{
	width: 80%;
}

textarea.tall{height: 8em;}
.answers textarea, #questions>div>textarea, .grouped.wide, .grouped.wide>textarea{
	width: 100%;
}

.answers>div{
	float: left;
	width: 25%;
	border: none;
	padding: 1px 0;
}
fieldset.answers{
	border-top: none;
	border-left: none;
}

fieldset[id*="jar_"]{
	margin: 0px;
	padding: 0px;
}
fieldset[id*=jar_]>fieldset{
	border: none;
	overflow-y: auto;
	margin: 0px 0px 10px;
}
#jar_db_list, #jar_exam_sections{
	float: left;
}
#jar_exams_list, #jar_exam_attributes, #jar_questions
{
	float: right;
}
#jar_db_list		{width: 25%;}
#jar_exams_list		{width: 73%;}
#jar_exam_attributes{width: 73%;}
#jar_exam_sections	{width: 25%;}
#jar_questions		{width: 73%;}

#db_list{
	max-height: 12em;
}
#exams_list{
	max-height: 2em;
}
#exam_sections, #questions{
	max-height: 35em;
}

#exam_title{
	width: 20em;
}
#exam_misc{
	width: 26em;
}

[id$=list]>div{
	float: left;
	min-width: 13em;
	margin: 1px 2px 1px;
}
#db_list>div input[type=text]     {width: 12em;}
#exams_list>div input[type=text]{width: 15em;}

.question{
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 8px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(115, 115, 115, 0.2));
	border-radius: 12px;
	/*box-shadow: 3px 0px 1px -1px rgba(0, 255, 255, 0.3);*/
}
.question input[type=checkbox][id^=q_]{
	margin-left: 1em;
}
.question_info{
	display: inline-block;
	float: right;
	margin-right: 0.4em;
	color: rgba(93, 209, 209, 0.92);
}

textarea.question-text{
}
textarea.answer-list{
}
button.feedback{
	margin-left: 0.4em;
}
textarea.feedback{
	display: none;
	position: absolute;
}
textarea.feedback.active{
	display: initial;
	width: 110%;
	height: 11em;
	left: -2em;
	top: -6.5em;
	background: #EFFFFF;
	z-index: 10;
}

.correct-answer{
}
.correct-answer input[type=text]{
	margin-left: 4px;
	width: 2em;
}
