<html>
<head>
	<link rel="stylesheet" type="basic_template/css" href="basic_template.css">
	<style>
		body{
		}
		div.main{
			font-weight: 500;
		}
		div.exam{
		}
		div.excercise{background-color: #F0F3FB;
		}
		div.mock{
		}
		.pretext{
		color: #062270;
		font-weight: 800;
		text-align: center;
		}
		.container{
		}
		div.question_mc, div.question_list{
		}
		.answer{
		}
		.feedback{
		}
		div{
			border: dotted 1px; 
			}
		div.question_list>button{
			display: block;
		}
	</style>
</head>
	<body>
	<!-- header for the whole site-->
			<div class="main">
				<div class="pretext">
					This is where an explanation for this particular page goes. What is it, what to do, which university is this for, etc.
			</div>
				<div class="exam mock">
				<div class="container">
				<div class="question_mc">
				Question text goes in here. This is for multiple-choice responses
			<div class="answer">
				<span><input type="checkbox" name="answer" >Answer 1</span>
				<span><input type="checkbox" name="answer" >Answer 2</span>
				<span><input type="checkbox" name="answer" >Answer 3</span>
				<span><input type="checkbox" name="answer" >Answer 4</span>
			<div>
				<div class="feedback">
					If there is additional feedback (like an incorrect answer) it will be shown in here
				</div>
			</div>
			<div class="question_list">
					Text goes in here. This is for a "choose from a list" type questions
				<button>check answers</button>
			<div class="feedback">
				<div>
					<p>
					Here we would have a link to that PDF file with more details
					</p>
				</div>
			</div>
			</div>
			</div>
			<div>
			<div class="exam excercise">
			<div class="container">
			<div class="question_mc">
					Question text goes in here. This is for multiple-choice responses
			<div class="answer">
				<span><input type="checkbox" name="answer" >Answer 1</span>
				<span><input type="checkbox" name="answer" >Answer 2</span>
				<span><input type="checkbox" name="answer" >Answer 3</span>
				<span><input type="checkbox" name="answer" >Answer 4</span>
			<div>
				<div class="feedback">
					If there is additional feedback (like an incorrect answer) it will be shown in here
					<div>
						<button>check answers</button>
					</div>
				</div>
			</div>
				<div class="question_list">
					Text goes in here. This is for a "choose from a list" type questions
				<button>Full text</button>
			<div class="feedback">
			Full text of the correct answer
			</div>
			</div>
			</div>
		<!-- footer for every page-->
	</body>
</html>
