<html>
<head>
	<link rel="stylesheet" type="text/css" href="../questions.css">
</head>
<body>
	<!-- header for the whole site-->
	<div class="main">
		<div class="pretext">
			This is where an explanation for this particular page goes. What is it, what to do, which university is this for, etc. This text could be multiline and could span multiple text lines (spilling over) so let's make sure it is formatted nicely.
		</div>
		<div class="exam exercise">
			<p><span>This is an "exercise" exam which does not necessarily contain any of the questions from real exams.</span></p>
			<ul class="question_container">
				<li class="question_mc">
					Question text goes in here. This is for multiple-choice responses
					<div class="answer">
						<span><input type="checkbox" name="answer" />Answer 1</span>
						<span><input type="checkbox" name="answer" />Answer 2</span>
						<span><input type="checkbox" name="answer" />Answer 3</span>
						<span><input type="checkbox" name="answer" />Answer 4</span>
					<div>
					<div class="feedback">
						If there is additional feedback (like an incorrect answer) it will be shown in here
					</div>
				</li>
				<li class="question_mc">
					Question text goes in here. This is for multiple-choice responses
					<div class="answer">
						<span><input type="checkbox" name="answer" />Answer 1</span>
						<span><input type="checkbox" name="answer" />Answer 2</span>
						<span><input type="checkbox" name="answer" />Answer 3</span>
						<span><input type="checkbox" name="answer" />Answer 4</span>
					<div>
					<div class="feedback">
						If there is additional feedback (like an incorrect answer) it will be shown in here
					</div>
				</li>
				<li class="question_mc">
					Question text goes in here. This is for multiple-choice responses
					<div class="answer">
						<span><input type="checkbox" name="answer" />Answer 1</span>
						<span><input type="checkbox" name="answer" />Answer 2</span>
						<span><input type="checkbox" name="answer" />Answer 3</span>
						<span><input type="checkbox" name="answer" />Answer 4. This is an extremely lonng answer that would definitely spill over to next line even when viewed on a very wide display in a window that is wide and not narrow</span>
					<div>
					<div class="feedback">
						If there is additional feedback (like an incorrect answer) it will be shown in here
					</div>
				</li>
				<li class="question_list">
					Question text goes in here. This is for a "choose from a list" type questions
					<button>Full text</button>
					<div class="feedback">
						Full text of the correct answer
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer">
		the text is not defined yet
	</div>
</body>
</html>