<html>
<head>
	<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<body>
	<!-- header for the whole site-->
	<div class="main">
		<div class="pretext">
			This is where an explanation for this particular page goes. What is it, what to do, which university is this for, etc. This text could be multiline and could span multiple text lines (spilling over) so let's make sure it is formatted nicely.
		</div>
		<div class="exam exercise">
			<p><span>This is an "exercise" exam which does not necessarily contain any of the questions from real exams.</span></p>
			<ol class="question_container">
				</li>
				<li class="question_list">
					Question text goes in here. This is for a "choose from a list" type questions. Here's an example of a list to choose an answer from: 
					<select>
						<option selected="selected">Choose one...</option>
						<option>Option 1</option>
						<option>Option 2</option>
						<option>Option 3</option>
						<option>Option 4</option>
						<option>Option 5</option>
					</select>
					Once selected the page will check the answer and provide a feedback to use. There could be more than one select. For example you can have 
					<select>
						<option selected="selected">Choose one...</option>
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					select(s) in addition to the first one
					<button>Full text</button>
					<div class="feedback">
						Full text of the correct answer
					</div>
				</li>
				<li class="question_list">
					Question text goes in here. This is for a "choose from a list" type questions. Here's an example of a list to choose an answer from: 
					<select>
						<option selected="selected">Choose one...</option>
						<option>Option 1</option>
						<option>Option 2</option>
						<option>Option 3</option>
						<option>Option 4</option>
						<option>Option 5</option>
					</select>
					Once selected the page will check the answer and provide a feedback to use.
					<button>Full text</button>
					<div class="feedback">
						Full text of the correct answer
					</div>
				</li>
				<li class="question_list">
					Question text goes in here. This is for a "choose from a list" type questions. Here's an example of a list to choose an answer from: 
					<select>
						<option selected="selected">Choose one...</option>
						<option>Option 1</option>
						<option>Option 2</option>
						<option>Option 3</option>
						<option>Option 4</option>
						<option>Option 5</option>
					</select>
					Once selected the page will check the answer and provide a feedback to use.
					<button>Full text</button>
					<div class="feedback">
						Full text of the correct answer
					</div>
				</li>
				<li class="question_list">
					Question text goes in here. This is for a "choose from a list" type questions. Here's an example of a list to choose an answer from: 
					<select>
						<option selected="selected">Choose one...</option>
						<option>Option 1</option>
						<option>Option 2</option>
						<option>Option 3</option>
						<option>Option 4</option>
						<option>Option 5</option>
					</select>
					Once selected the page will check the answer and provide a feedback to use.
					<button>Full text</button>
					<div class="feedback">
						Full text of the correct answer
					</div>
				</li>
			</ol>
		<div>
	</div>
	<div class="footer">
		the text is not defined yet
	</div>
</body>
</html>