body{
	background-color: #7109AA;
	color: white;
	
}
div.main{
	border: 2px solid;
	width: 98%;
	padding: 0.4em 0.4em;
	margin: 1em auto;
	background-color: white;
	color: black;
	font-size:90%;
	font-family:Times New Roman;
	}
/* a section containing multiple questions with answers and extra info. This is one common for both mock and exercise exams */
div.exam{
	width: 98%;
	padding: 0.9em;
	margin: /*1em*/ auto;
}
div.exercise{
	background-color: #F7F0FB;
	color: #23142B;
	width: 98%;
	padding: 0.9em;
	margin: /*1em*/ auto;
	
}
div.mock{
	background-color: inherit;
}
/* (very) short description of the exam */
.exam>p>span{
	padding: auto 2em;
	text-align: justify;
	border-bottom: dashed 1px #800000;
}
/* description of the page - what is it for, what to expect from it, what to do while using it... */
.pretext{
	background-color: #7109AA;
	margin: 1em 1 px auto;
	padding: 1em 1em 1em 1em;
	text-align: justify;
	color: white;
	font-weight: 600;
	font-size: 1.3em;
}
/* container, one per set of questions */
.question_container{
	font-size: 1.3em;
	text-align: justify;
}
/* one question block with a question and answers and (optionally) "more info" */
.question_mc, .question_list{
	margin: 0.1em 0px;
	padding: 0.4em;
}
.answer{
	margin: 0.6em;
}
.feedback{
	display: none;
}
.question_list>button{
	display: block;
	margin: 0.5em 0px;
}
/*  */
div.answer>span{
	text-align: justify;
}
.mock div.answer>span{
	display: inline-block;
	vertical-align: top;
	width: 22%;
	margin-right: 0.5em;
}
.exercise div.answer>span{
	display: block;
}
button{
	-moz-box-shadow:inset 0px 1px 0px -5px #7109AA;
	-webkit-box-shadow:inset 0px 1px 0px -5px #7109AA;
	box-shadow:inset 0px 1px 0px -5px #7109AA;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7109AA), color-stop(1, #7109AA) );
	background:-moz-linear-gradient( center top, #7109AA 5%, #7109AA 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7109AA', endColorstr='#7109AA');
	background-color:#7109AA;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0px;
	border:1px solid #220333;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:31px;
	line-height:31px;
	width:82px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7109AA;
}
button: hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7109AA), color-stop(1, #7109AA) );
	background:-moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7109AA', endColorstr='#7109AA');
	background-color:#7109AA;
}
button: active{
	position: relative;
	top: 1px;	
.mock>p{
	color: #23142B;
	font-size: 1.3em;
	font-style: italic;
}
.exercise>p{
	color: 	#452955;
	font-size: 1.3em;
	font-style: italic;
}
.footer{
	margin:auto;
	background-color: #7109AA;
	color: white;
	text-align: right;
	font-weight: 600;
	font-size: 1.3em;
}