<html>
<head>
	<link rel="stylesheet" type="text/css" href="questions.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="exam_sampleDB.js"></script>
	<script src="exam_generate.js"></script>
	<script src="exam_validate.js"></script>
</head>
<body onload="createExamDiv( $('#dynamic_div'), gExam1 );">
	<div id="static_div" class="main">
		<div class="exam mock">
			<p>
				<span>This is a mock exam, which means it contains real questions from past years' exams</span>
			</p>
			<ol class="question_container">
				<li class="question_mc">
					Question text goes in here. This is for multiple-choice responses
					<div class="answer">
						<span>Answer 1<input type="checkbox" name="answer" /></span>
						<span>Answer 2<input type="checkbox" name="answer" /></span>
						<span>Answer 3<input type="checkbox" name="answer" /></span>
						<span>Answer 4<input type="checkbox" name="answer" /></span>
					</div>
					<div class="feedback">
						If there is additional feedback (like an incorrect answer) it will be shown in here
					</div>
				</li>
			</ol>
		</div>
	</div>
	<div id="dynamic_div" class="main"></div>
	<fieldset style="width: 20%"><legend>Validate exams</legend>
		<button onclick="validateE(gExam1)">exam 1</button>
		<button onclick="validateE(gExam2)">exam 2</button>
	</fieldset>
</body>
</html>
