body{
	background-color: #6D89D5;
	color: white;
}
div.main{
	border: 1px solid;
	width: 90%;
	padding: 1em;
	margin: 1em auto;
	background-color: white;
	color: black;
}
/* a section containing multiple questions with answers and extra info. This is one common for both mock and exercise exams */
div.exam{
	width: 98%;
	padding: 1em;
	margin: /*1em*/ auto;
}
div.exercise{
	background-color: #F0F3FB;
}
div.mock{
	background-color: inherit;
}
/* (very) short description of the exam */
.exam>p>span{
	padding: auto 2em;
	text-align: justify;
	border-bottom: dashed 1px #800000;
}
/* description of the page - what is it for, what to expect from it, what to do while using it... */
.pretext{
	padding: 1em;
	text-align: justify;
	color: #062270;
	font-weight: 800;
	font-size: 1.5em;
}
/* container, one per set of questions */
.question_container{
	font-size: 1.3em;
}
/* one question block with a question and ansers and (optionally) "more info" */
.question_mc, .question_list{
	margin: 1em 0px;
}
.answer{
	margin: 0.5em;
}
.feedback{
	display: none;
}
.question_list>button{
	display: block;
	margin: 0.5em 0px;
}
/*  */
div.answer>span{
	text-align: justify;
}
.mock div.answer>span{
	display: inline-block;
	vertical-align: top;
	width: 22%;
	margin-right: 0.5em;
}
.exercise div.answer>span{
	display: block;
}
button{
	color: #062270;
	font-weight: 600;
}
.mock>p{
	color: #062270;
	font-size: 1.3em;
	font-style: italic;
}
