<html>
<head>
	<link rel="stylesheet" type="text/css" href="../questions.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="../js/exam_sampleDB.js"></script>
	<script src="../js/exam_generate.js"></script>
	<script src="../js/exam_validate.js"></script>
	<script src="../exam_DB/VSE_DB_mock.js"></script>
	<script>
		function startup(){
			//createExamDiv( $('#dynamic_div1'), gExam1);
			//createExamDiv( $('#dynamic_div2'), gExam2);
			//createExamDiv( $('#dynamic_div3'), gExam3);
			//createExamDiv( $('#dynamic_div4'), gExam4);
			createExamDiv( $('#dynamic_div5'), vseExam1);
		}
	</script>
</head>
<body onload="startup();">
	<div id="dynamic_div1" class="main"></div>
	<div id="dynamic_div2" class="main"></div>
	<div id="dynamic_div3" class="main"></div>
	<div id="dynamic_div4" class="main"></div>
	<div id="dynamic_div5" class="main"></div>
	<fieldset style="width: 20%"><legend>Validate exams</legend>
		<button onclick="validateE(gExam1)">exam 1</button>
		<button onclick="validateE(gExam2)">exam 2</button>
	</fieldset>
</body>
</html>
